<ng-container>
  <mat-grid-list cols="1" rowHeight="9em">
    <mat-grid-tile>
      <h1>
        New link
      </h1>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Where to save this link?</mat-label>
        <input matInput type="text" [(ngModel)]="position">
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</ng-container>

<div style="text-align: center">
  <ng-container>
    <button (click)='onSaveLink()'>
      Logout
    </button>
  </ng-container>
</div>



